<a href="https://colab.research.google.com/github/AlexisUrbalejo/Python/blob/main/IAAU_PY_ACT12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [165]:
import sys
import os
from IPython.display import clear_output
import random
import json
import yaml
import pandas as pd

In [166]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [167]:
ruta='/content/drive/MyDrive/ColabNotebooks'

In [168]:

import sys
sys.path.append(ruta)

In [169]:
def valinum_int(msge,ri=0,rf=9999999,msgError1="NUMERO FUERA DEL RANGO",msgError2="INGRESA UN VALOR NUMERICO"):
    while True:
        try:
            num = int(input(f"{msge}: "))
        except:
            print (msgError2)
            continue
        if num < ri or num > rf:
            print(f"{msgError1} ({ri} a {rf})")
            continue
        else:
            break
    return num

In [170]:
def dic_auto():
    registro = ["ID","Nombre","Ap.Paterno","Ap.Materno","Edad","Sexo","Puesto"]
    nombre=["Alexis","Jorge","Aldair","Marcelo","Sergio","Juan Pablo","David","Isai","Adrian","Billie"]
    nombrem = ["Hanna","Paola","Samantha","Mariana","Reyna","Berenice","Nancy","Melissa"]
    appaterno = ["Noble","Arredondo","Urbalejo","Barba","Ramirez","Armenta","Lopez","Ontiveros","Lopez","Hunter"]
    apmaterno =["Anguiano","Kardashin","Eilish","Duarte","Lozano","Rios","Cardenas","Palacios","Reyes","Alvarez"]
    edad = [17,18,19,20,21,22,23,24]
    ID = [368747,569874,214587,659841,364879,326145,365894,152487,659874,259874]
    puesto=["Director ejecutivo","Director financiero","Director de recursos humanos","Director de tecnologia","Gerente de Marketing","Gerente de ventas","Gerente de operaciones","Analista de operaciones","Desarrollo de sofware","Atencion al cliente"]
    sexo = ["H","H","H","H","H","H","H","H","H","H"]
    nrandom=random.randint(0,7)
    dic = dict(zip(registro,[ID[nrandom],nombre[nrandom],appaterno[nrandom],apmaterno[nrandom],edad[nrandom],sexo[nrandom],puesto[nrandom]]))
  
    return dic

In [195]:
def tabla ():
  N=12
  lista=[]
  for i in range(N-1,0,-1):
          dic = dic_auto()
          lista.append(dic)
  return lista

,ID,Nombre,Ap.Paterno,Ap.Materno,Edad,Sexo,Puesto
0,368747,Alexis,Noble,Anguiano,17,H,Director ejecutivo
1,365894,David,Lopez,Cardenas,23,H,Gerente de operaciones
2,365894,David,Lopez,Cardenas,23,H,Gerente de operaciones
3,326145,Juan Pablo,Armenta,Rios,22,H,Gerente de ventas
4,365894,David,Lopez,Cardenas,23,H,Gerente de operaciones
5,569874,Jorge,Arredondo,Kardashin,18,H,Director financiero
6,364879,Sergio,Ramirez,Lozano,21,H,Gerente de Marketing
7,326145,Juan Pablo,Armenta,Rios,22,H,Gerente de ventas
8,368747,Alexis,Noble,Anguiano,17,H,Director ejecutivo
9,569874,Jorge,Arredondo,Kardashin,18,H,Director financiero
10,368747,Alexis,Noble,Anguiano,17,H,Director ejecutivo

In [172]:
def eliminar_id(tabla):
  lista =tabla()
  clear_output()
  encontrado = False
  id_eliminar = valinum_int("Ingresa el ID de la persona que deseas eliminar el registro: ")
  for i, diccionario in enumerate(lista):
          if diccionario.get("ID") == id_eliminar:
              print(f"Se elimino a la persona con el ID: {id_eliminar}")
              del lista[i]
              encontrado = True
              print(lista)
  if not encontrado:
          print(f"No se encontro ningun registro con el ID {id_eliminar}")

In [190]:
def eliminar_ap (tabla):
    lista =tabla()
    clear_output()
    dic_encontrado = []
    encontrado = False
    appat_busq = input("Ingresa el apellido que buscas: ")
    for diccionario in lista:
            if diccionario.get("Ap.Paterno") == appat_busq:
                dic_encontrado.append(diccionario)
                encontrado = True
    if encontrado == True:
            print(f"Se encontro registros con el apellido: {appat_busq}")
            salida=pd.DataFrame(dic_encontrado)
            print(salida)
    if not encontrado:
            print(f"No se encontro ningun registro con el apellido {appat_busq}")

Ingresa el apellido que buscas: Arredondo
Se encontro registros con el apellido: Arredondo
       ID Nombre Ap.Paterno Ap.Materno  Edad Sexo               Puesto
0  569874  Jorge  Arredondo  Kardashin    18    H  Director financiero
1  569874  Jorge  Arredondo  Kardashin    18    H  Director financiero

In [184]:
def generar_archivo(tabla):
    clear_output()
    nombre_archivo = input("Ingresa el nombre con el que deseas guardar el archivo: ")
    data = pd.DataFrame(tabla)
    data.to_excel(f'/content/drive/MyDrive/ColabNotebooks/IAAU_PY_ACT12/.xlsx', index=False)
    data.to_csv(f'/content/drive/MyDrive/ColabNotebooks/IAAU_PY_ACT12/.csv', index=False)
    data.to_markdown(f'/content/drive/MyDrive/ColabNotebooks/IAAU_PY_ACT122/.md', index=False)

In [185]:
def cargar_archivo():
    clear_output()
    path = "/content/drive/MyDrive/ColabNotebooks/"
    with open(path, "r") as f:
        contenido = f.read()
    print("SE CARGO EL ARCHIVO CORRECTAMENTE")
    return contenido

In [188]:
def ayuda (contenido):
  clear_output()
  print("CONTENIDO DEL ARCHIVO: ")
  print(contenido)

TypeError: ignored