<a href="https://colab.research.google.com/github/AlexisUrbalejo/Python/blob/main/IAAU_PY_EXA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Escribe una funcion de Python en collaboratory que realice lo siguiente:

funcion que retorne un diccionario con los datos basicos de un alumno (pedir al usuario y validar)

Escribir codigo que mande llamar la funcion y desplegar el resultado,

Escribir enlace a GITHUB a un dcto que se llame INICIALES_PY_exa1

In [16]:
import random
import pandas as pd
import pprint 
!pip3 install pyyaml 
import yaml
from IPython.display import clear_output

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (6.0)

In [17]:
def valinum_int(msge,ri=0,rf=9999999,msgError1="NUMERO FUERA DEL RANGO",msgError2="INGRESA UN VALOR NUMERICO"):
    while True:
        try:
            num = int(input(f"{msge}: "))
        except:
            print (msgError2)
            continue
        if num < ri or num > rf:
            print(f"{msgError1} ({ri} a {rf})")
            continue
        else:
            break
    return num

In [18]:

def dic_manual():
    mat = input("Ingresa la matricula: ")
    nombre = input("Ingresa el nombre: ")
    appaterno = input("Ingresa el Apellido Paterno: ")
    apmaterno = input("Ingresa el Apellido Materno: ")
    edad = input("Ingresa tu edad: ")
    sexo = input("Ingresa tu sexo (H o M)")
    dic2 = dict(Matricula = f"{mat}", Nombre = f"{nombre}", ApellidoPaterno = f"{appaterno}",ApellidoMaterno = f"{apmaterno}", Edad = f"{edad}", Sexo = f"{sexo}")
    return dic2

In [19]:

dic2 = dic_manual()

dicc_list =[dic2 ]
salida=pd.DataFrame(dicc_list)
salida

Ingresa la matricula: 368747
Ingresa el nombre: Alexis
Ingresa el Apellido Paterno: Hola
Ingresa el Apellido Materno: hola
Ingresa tu edad: hola
Ingresa tu sexo (H o M)hola

  Matricula  Nombre ApellidoPaterno ApellidoMaterno  Edad  Sexo
0    368747  Alexis            Hola            hola  hola  hola